% This file managed by Puppet 2.7.23
% Template Path: rabbitmq/templates/rabbitmq.config
[
  {kernel, [
    {inet_dist_listen_min, 41055},
    {inet_dist_listen_max, 41055},
    {inet_default_connect_options, [{nodelay,true}]}
  ]}
  ,{rabbitmq_stomp, [
    {tcp_listeners, [61613]}
  ]}
  ,{rabbit, [
    {default_user,<<"DEFAULT_USER">>},
    {default_pass, <<"DEFAULT_PASS">>}
  ]}
].
% EOF

